* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  transition: transform ease 0.7s;
}

button:hover {
  cursor: pointer;
  transform: translate(0, -10px);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.header-title {
  color: white;
  font-size: 3rem;
}

.nav-btns {
  display: flex;
  gap: 3rem;
}

.active-btn {
  border-bottom: 1px solid white;
}

.home {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
  max-width: 700px;
  max-height: 100%;
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home > p {
  font-size: 1.5rem;
}

.home-img > img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
}

.menu {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 700px;
  height: max-content;
  padding: 3rem;
  margin: 5rem auto;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform ease 0.7s;
  border-radius: 100%;
}

.menu-item:hover {
  background-color: rgba(99, 98, 98, 0.5);
  cursor: pointer;
  transform: scale(1.1);
}

.menu-item > img {
  width: 250px;
  height: 250px;
}

.contact {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 700px;
  height: max-content;
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contact > p {
  font-size: 1.5rem;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  padding: 10px;
}

